[Unit]
Description=Servidor de configuración SHPD (modo hotspot)
After=network.target
Wants=network.target

[Service]
WorkingDirectory=/home/rodo/shpd/shpd-all/modo-ap
ExecStart=/usr/bin/python3 /home/rodo/shpd/shpd-all/modo-ap/setup_server.py
WorkingDirectory=/home/rodo/shpd/shpd-all/modo-ap
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=2
User=rodo

[Install]
WantedBy=multi-user.target